.macos-grey {
  background: rgb(234, 234, 253) !important;
}

.macos-font-color {
  color: #1a1a1a !important;
}

.transparent {
  color: transparent !important;
}

.fade-icon {
  color:rgb(192, 192, 194);
}

.menu-item-top {
  color: black !important;
}

a {
  font-family: "Lucida Grande";
}

a:hover {
  background: transparent !important;
  cursor:default;
}

span:hover {
    cursor:pointer;
}

input {
  font-family: "Lucida Grande";
  border: 0;
  background: transparent !important;
  cursor:default;
  padding-left: 10;
}

a:hover #delete-icon {
  color: black !important;
}

input:focus {
  outline: none;
}

input[type="text"]:hover{
  cursor:pointer;
}
