.macos-grey {
  background: rgb(234, 234, 253) !important;
}

.macos-font-color {
  color: #1a1a1a !important;
}

.transparent {
  color: transparent !important;
}

.menu-item-top {
  color: black !important;
}

a {
  font-family: "Lucida Grande";
}

a:hover {
  background: transparent !important;
  cursor:default;
}

span:hover {
  color: black !important;
  cursor:pointer;
}

input {
  font-family: "Lucida Grande";
  border: 0;
  background: transparent !important;
  cursor:default;
}

input:hover ~ span {
  color: black !important;
}

input:focus {
  outline: none;
}
